/get_private_profile.h
/os_low_level_helper.h
/affinity.cxx
/affinity.h
/qmath.h
/qmultialloc.*
/qmalloc.*
/sched_affinity_win32_wrapper.h
/switchtemplate.h
/util_adl.cxx
/util_adl.h
/vecpodtest.cxx
/*.cpp
/*.sh
