### author: Roberto Preghenella (preghenella@bo.infn.it)
### since:  July 2020

### Force golden D decay modes (use 4 bodies option)
### the origin is from AliRoot AliDecayerPythia8::ForceHadronicD (Latest commit c509466 on May 17)
###
### This file has to be used in conjunction with force_hadronic_D.cfg and loaded
### afterwards to reproduce the configuration achieved with ForceHadronicD(1,0,0)

### D0 -> K pi pi pi
421:onIfMatch = 321 211 211 211
### D0 -> K pi rho
421:onIfMatch = 321 211 113
### D0 -> K*0 pi pi
421:onIfMatch = 313 211 211
