name: Clean PR checks
on:
  workflow_dispatch:
    inputs:
      pr:
        description: PR to be cleaned
        required: true
      check_o2_cc7:
        description: build/O2/o2
        type: boolean
        required: false
        default: true
      check_o2_macos:
        description: build/AliceO2/O2/o2/macOS
        type: boolean
        required: false
        default: true
      check_o2_fullci:
        description: build/O2/fullCI
        type: boolean
        required: false
        default: true
      check_o2_cs8:
        description: build/O2/o2-cs8
        type: boolean
        required: false
        default: true
      check_o2_dataflow:
        description: build/O2/o2-dataflow
        type: boolean
        required: false
        default: true
      check_o2_dataflow_cs8:
        description: build/O2/o2-dataflow-cs8
        type: boolean
        required: false
        default: true
      owner:
        description: Organization
        required: true
        default: 'AliceO2Group'
      repo:
        description: Repository
        required: true
        default: 'AliceO2'

jobs:
  cleanup_pr_checks:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install ali-bot
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libsasl2-dev python-dev libldap2-dev libssl-dev
          python -m pip install --upgrade pip
          pip install git+https://github.com/alisw/ali-bot@master
      - uses: octokit/graphql-action@v2.x
        id: get_last_commit_for_pr
        with:
          query: |
              {
                repository(owner: "${{ github.event.inputs.owner }}", name: "${{ github.event.inputs.repo }}") {
                  url
                  pullRequest(number:${{ github.event.inputs.pr }}) {
                    commits(last: 1) {
                      nodes {
                        commit {
                          oid
                        }
                      }
                    }
                  }
                }
              }
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Cleanup tests
        run: |-
          set -x
          cat <<\EOF > results.json
          ${{ steps.get_last_commit_for_pr.outputs.data }}
          EOF
          COMMIT=$(jq -r '.repository.pullRequest.commits.nodes[].commit.oid' results.json)
          echo $COMMIT
          echo ${{ github.event.inputs.check_o2_macos }}
          CHECKS="${{github.event.inputs.check_o2_cc7 && 'build/O2/o2' || ''}}"
          CHECKS="${CHECKS},${{github.event.inputs.check_o2_macos == 'true' && 'build/AliceO2/O2/o2/macOS' || ''}}"
          CHECKS="${CHECKS},${{github.event.inputs.check_o2_fullci == 'true' && 'build/O2/fullCI' || ''}}"
          CHECKS="${CHECKS},${{github.event.inputs.check_o2_cs8 == 'true' && 'build/O2/o2-cs8' || ''}}"
          CHECKS="${CHECKS},${{github.event.inputs.check_o2_dataflow == 'true' && 'build/O2/o2-dataflow' || ''}}"
          CHECKS="${CHECKS},${{github.event.inputs.check_o2_dataflow_cs8 == 'true' && 'build/O2/o2-dataflow-cs8' || ''}}"
          for check in `echo $CHECKS | sed -e "s/,\+/,/g;s/,$//;s/^,//" | tr , \\\\n`; do
            set-github-status -c ${{ github.event.inputs.owner }}/${{ github.event.inputs.repo }}@$COMMIT -s $check/pending
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
